body{
    background-image: url(images/2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px
}
img{
    position:absolute;
    width: 150px;
    height:150px;

}
.navbar ul{
    list-style-type: none;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align:start;
    color: black;
}
.navbar a:hover{
    background-position: absolute;
    background-color: #a5a6a6;
    opacity: 0.5;

}
.navbar li{
    font-size: 20px;
    padding: 20px;
    margin: center;
    float: right;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

article{
    width:40%;
    float: left;
    padding:50px
}
h1{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-size: 25px;
    float:left;
    font-weight: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn{
    float: left;
    font-weight: bold;
}
.btn a:hover{
    color: #a5a6a6 ;
    cursor: pointer;
}
.icons{
    text-align: center;
}
.fa-brands.fa-youtube.fa-10x{
    padding: 40px;
}
.fa-brands.fa-linkedin.fa-10x{
    padding: 40px;
}
.fa-solid.fa-envelope.fa-10x{
    padding: 40px;
}
.gallery{
    margin:auto;
    display: inline-block;
}

form{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}